#Python,
pycache/
*.py[cod]

#Virtual environment,
myvenv/
venv/
env/
.venv/
.env/

#Django,
db.sqlite3
*.log
media/
staticfiles/

#IDE/editor,
.vscode/
.idea/
*.swp
*.swo

#OS-specific,
.DS_Store
Thumbs.db

#History,
.bash_history